jobs:
  build:
    runs-on: "ubuntu-24.04-arm"
    steps:
    - name: "Checkout"
      uses: "actions/checkout@v5"
      with:
        submodules: "recursive"
    - name: "Build"
      run: |
        sudo apt-get update
        sudo apt-get build-dep -y .
        make deb
      shell: "bash"
    - name: "Prepare flash binaries for upload"
      run: |
        mkdir -p .artifacts
        cp src/Build/O6/RELEASE_GCC5/cix_flash_all.bin .artifacts/O6_flash_all.bin
        cp src/Build/O6N/RELEASE_GCC5/cix_flash_all.bin .artifacts/O6N_flash_all.bin
      shell: "bash"
    - name: "Upload artifacts"
      uses: "actions/upload-artifact@v5"
      with:
        name: "${{ github.event.repository.name }}"
        path: |
          .artifacts/O6_flash_all.bin
          .artifacts/O6N_flash_all.bin
name: "Build"
"on":
  merge_group: {}
  pull_request:
    paths-ignore:
    - "docs/**"
    - "theme/**"
    - "po/**"
    - "book.toml"
    - ".github/workflows/docs.yaml"
  push:
    branches:
    - "main"
    paths-ignore:
    - "docs/**"
    - "theme/**"
    - "po/**"
    - "book.toml"
    - ".github/workflows/docs.yaml"
  workflow_dispatch: {}
permissions: {}